
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-block_icon_1:before {
  content: "\e904";
}
.icon-arrow_right:before {
  content: "\e900";
}
.icon-arrow_left:before {
  content: "\e901";
}
.icon-block_icon_3:before {
  content: "\e902";
}
.icon-block_icon_2:before {
  content: "\e903";
}
.icon-skorost:before {
  content: "\e908";
}
.icon-skorost-servisa:before {
  content: "\e909";
}
.icon-partn-prog:before {
  content: "\e90a";
}
.icon-wallet:before {
  content: "\e90b";
}
.icon-support:before {
  content: "\e90c";
}
.icon-verific:before {
  content: "\e90d";
}
.icon-s_telegram:before {
  content: "\e90e";
}
.icon-arrow_left_small:before {
  content: "\e90f";
}
.icon-arrow_right_small:before {
  content: "\e910";
}
.icon-s_vk:before {
  content: "\e911";
}
.icon-s_facebook:before {
  content: "\e912";
}
.icon-s_twitter:before {
  content: "\e913";
}